<section class="signup-form">
  <mat-card>
    <mat-card-header>
      <mat-toolbar color="accent">
        <mat-toolbar-row>
          <span>Admin Login</span>
          <span class="example-spacer"></span>
          <i class="material-icons">vpn_key</i>
          <mat-icon class="example-icon">account_box</mat-icon>
        </mat-toolbar-row>
      </mat-toolbar>
    </mat-card-header>
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input type="email" 
        matInput 
        placeholder="Su email" 
        formControlName="email">
        <mat-hint>Por favor ingrese un email válido</mat-hint>
        <mat-error>Email sin ingresar o inválido</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="password" 
        matInput 
        placeholder="Su contraseña" 
        formControlName="password"
        />
        <mat-hint>Por favor ingrese una contraseña válida</mat-hint>
        <mat-error>Contraseña es requerida</mat-error>
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.Invalid">Submit</button>
      </form>
    </mat-card>
  </section>