<mat-toolbar color="primary">
  <!-- <div fxHide.sm fxHide.md fxHide.lg fxHide.xl> -->
  <div fxHide.gt-xs>
      <!-- <button mat-icon-button (click)="sidenav.toggle()"> -->
      <button mat-icon-button (click)="onToggleSidenav()">
          <mat-icon>menu</mat-icon>
      </button>
  </div>
  <div><a routerLink="/">Accenture LFGM</a></div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
      <ul fxLayout fxLayoutGap="10px" class="navigation-items">
          <li *ngIf="!isAuth"><a routerLink="/login">Admin Login</a></li>
          <li><a routerLink="/registro">Registro</a></li>
          <li><a routerLink="/solicitud">Solicitud</a></li>
          <li *ngIf="isAuth"><a routerLink="/listaClientes">Lista Clientes</a></li>
          <li *ngIf="isAuth"><a routerLink="/listaCreditos">Lista Creditos</a></li>
          <li *ngIf="isAuth"><a style="cursor: pointer" (click)="onLogout()">Logout</a></li>
      </ul>                         
  </div>
</mat-toolbar>